body {
  overflow-y: hidden;
}
div {
  transition: linear;
  transition-property: transform;
  transition-duration: 1.5s;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 1.5em;
}

.secondaryCard {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

.begone {
  transition: linear;
  transition-property: transform;
  transition-duration: 1.5s;
  transform: translateY(100vh);
}

.incomingElement {
  transition: none;
  transition-property: none;
  transform: translateY(-100vh);
}